{% extends 'blogs/base.html' %}
{% block content %}

  <p>Post: {{ post }}</p>
  <p>Entries:</p>
  <p>
    <a href="{% url 'blogs:new_entry' post.id %}">Add new entry</a>
  </p>
  <ul>
      {% for entry in entries %}
      <li>
          <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
          <p>{{ entry.text|linebreaks }}</p>
          <p>
            <a href="{% url 'blogs:edit_entry' entry.id %}">Edit entry</a>
          </p>
      </li>
      {% empty %}
        <li>There are no entries for this post yet.</li>
      {% endfor %}
  </ul>

{% endblock content %}